<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- Estilos de jesid -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <script src="{% static 'js/langs.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/logicaVista.js' %}" type="application/javascript"></script>
    <title>Proyecto Final - Intérprete</title>
</head>

<body>
    <div class="container-md pt-2">
        <h1 id="tituloP">Intérprete De FachaCode</h1>
        <div class="input-group input-group-jesid">
            <div class="form-floating ms-3  mt-2">
                <select class="form-select btn  btn-outline-info" id="language" onchange="deselect()"
                    onmouseleave="deselect()">
                    <option id="ES" value="1">Español</option>
                    <option id="EN" value="2">Inglés</option>
                    <option id="PT" value="3">Portugués</option>
                </select>
                <label id="lenguaje" for="language" class="floatingLabelColor">Lenguaje</label>
            </div>

            <div class="form-floating ms-3  mt-2">
                <select class="form-select btn  btn-outline-info" id="langDefault" onchange="deselect()"
                    onmouseleave="deselect()">
                </select>
                <label id="lblVoz" for="langDefault" class="floatingLabelColor">Voz</label>
            </div>
        </div>
        <div class="card">
            <div class="example">
                <div id="box_examples" style="width: 20%;">
                    <label for="opciones" style="font-size: 18px;">Codigos De Ejemplo:</label>
                    <select class="btn  btn-outline-info" id="opciones" name="opciones" style="font-size:12px;">
                        <option value="vacio">vacío</option>
                        <option value="suma">Tablas De Sumar </option>
                        <option value="multiplicar">Tablas De Multiplicar</option>
                        <option value="dividir">Tabla de dividir</option>
                    </select>
                    <pre hidden="true" id="multiplicar">

    imp{"Tablas de" & " Mltiplicar"}

    num a <- 0
    num c
    c<-1
    imp{"tabla del 1"}
    imp{"----------------"}

    enquanto{a<9+c}:
        a<-a+1
        num b
        b<-0
        enquanto{b<9+c}:
            b<-b+1
            imp{a & " x " & b & " = " & a * b}
        finenq
        imp{"   "}
        sim{a<=10}:                    
            imp{"tabla del "&a+1}
            imp{"----------------"}
        finsim
    finenq

    a<-9
    num b
    b<-12
    c<-13

    cheo h <- a>10
    sim{h}:
        imp{"a es mayor que 10."}
        sim{b>11}:
            imp{"a es mayor que 10 y b es mayor que 11."}
            sim{c>12}:
                imp{"a es mayor que 10, b es mayor que 11 y c es mayor que 12."}
            finsim
        finsim
        
            imp{"a es menor o igual que 10 y vale: " & a}
    finsim
                                        
                </pre>
                <pre hidden="true" id="suma">
                    
    imp{"Tablas de" & "Sumar"}

    num a <- 0
    num c
    c<-1
    imp{"tabla del 1"}
    imp{"----------------"}

    enquanto{a<9+c}:
        a<-a+1
        num b
        b<-0
        enquanto{b<9+c}:
            b<-b+1
            imp{a & " + " & b & " = " & a + b}
        finenq
        imp{"   "}
        sim{a<=10}:                    
            imp{"tabla del "&a+1}
            imp{"----------------"}
        finsim
    finenq

    a<-9
    num b
    b<-12
    c<-13

    cheo h <- a>10
    sim{h}:
        imp{"a es mayor que 10."}
        sim{b>11}:
            imp{"a es mayor que 10 y b es mayor que 11."}
            sim{c>12}:
                imp{"a es mayor que 10, b es mayor que 11 y c es mayor que 12."}
            finsim
        finsim
        
            imp{"a es menor o igual que 10 y vale: " & a}
    finsim
                                             
                    </pre>
                    <pre hidden="true" id="dividir">

    imp{"Tablas de" & " Dividir"}

    num a <- 0
    num c
    c<-1
    imp{"tabla del 1"}
    imp{"----------------"}

    enquanto{a<9+c}:
        a<-a+1
        num b
        b<-0
        enquanto{b<9+c}:
            b<-b+1
            imp{a & " / " & b & " = " & a / b}
        finenq
        imp{"   "}
        sim{a<=10}:                    
            imp{"tabla del "&a+1}
            imp{"----------------"}
        finsim
    finenq

    a<-9
    num b
    b<-12
    c<-13

    cheo h <- a>10
    sim{h}:
        imp{"a es mayor que 10."}
        sim{b>11}:
            imp{"a es mayor que 10 y b es mayor que 11."}
            sim{c>12}:
                imp{"a es mayor que 10, b es mayor que 11 y c es mayor que 12."}
            finsim
        finsim
        
            imp{"a es menor o igual que 10 y vale: " & a}
    finsim
                                             
                    </pre>
                    <pre hidden="true" id="vacio"></pre>
                </div>
            </div>
            <div class="card-body ">
                <div class="row row-cols-1 row-cols-md-2 g-2 mb-2">
                    <div class="col mb-2">
                        <div class="form-floating">
                            <textarea class="form-control txAreaIn" placeholder="Código aquí" id="codigoDigitado"
                                style="height: 300px"></textarea>
                            <label for="floatingTextarea" class="floatingLabelColor" id="tituloCodigo">
                                <i class="fa-solid fa-code"></i> Escriba su código
                                aqúi: </label>
                        </div>
                        <div class="input-group">
                            <button id="btnVerificar" class="btn  btn-outline-info btn-play  mt-2" type="button">
                                <span class="material-symbols-outlined">
                                    done_all
                                </span> Validar</button>
                            <button id="btnEjecutar" class="btn  btn-outline-info  mt-2" type="button"><i
                                    class="fa-solid fa-play"></i> Ejecutar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="row row-cols-1 g-2 mb-2">
                    <div class="col overflow-auto " style="height: 200px">
                        <h5 id="salida"><i class="fa-solid fa-outdent"></i> Salida:</h5>
                        <p id="textico"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/tts.js' %}"></script>
</body>

</html>