@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --paletaColor1: #83fffd;
    --paletaColor2: #17B978;
    --paletaColor3: #086972;
    --paletaColor4: #38393b;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.diagrama {
    width: 100%;
    height: 400px;
    background-color: #DAE4E4;
}

body {
    background: rgb(7, 26, 82);
    background: linear-gradient(95deg, rgb(2, 2, 2) 0%, rgba(106, 173, 249, 0.804) 50%, rgba(2, 2, 2) 100%);
}

body h1,
h2,
h3,
h4,
h5,
h6,p,pre {
    color: var(--paletaColor1);
}

.card {
    border-color: var(--paletaColor3);
    background-color: var(--paletaColor4);
}

.card-footer {
    border-color: var(--paletaColor3);
}

.creditos {
    color: var(--paletaColor2);
}

.btn-outline-info {
    --bs-btn-color: var(--paletaColor1);
    --bs-btn-border-color: var(--paletaColor1);
    --bs-btn-hover-color: var(--paletaColor4);
    --bs-btn-hover-bg: var(--paletaColor1);
    --bs-btn-hover-border-color: var(--paletaColor1);
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: var(--paletaColor4);
    --bs-btn-active-bg: var(--paletaColor1);
    --bs-btn-active-border-color: var(--paletaColor1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--paletaColor1);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.deladito h3 {
    display: inline
}

.floatingLabelColor {
    color: var(--paletaColor1);
}

.txAreaIn {
    color: var(--paletaColor1);
    background: linear-gradient(262deg, rgb(20, 20, 20) 6%, rgb(58, 58, 59) 56%, rgb(20, 20, 20) 94%);
}

.txAreaIn:focus {
    color: var(--paletaColor1);
}

.exItem{
    cursor: pointer;
    color: var(--paletaColor1);
}


/* METI MANO JESI */

.form-floating{
    width: 100%;
}

.col{
    width: 100%;
}

.header-group{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}

.example{
    display: flex;
    flex-direction: row-reverse;
}



.input-group-jesid{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    padding-right: 5px;
    margin-bottom: 5px;
}

.ms-3 {
    width: 29%;
}

.form-select{
    width: 100%;
    height: 20px;
    border-color: black;
}

.btn-play{
    display: flex;
    gap: 3px;
    align-items: center;
}